<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SYYVR6NF0M"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SYYVR6NF0M');
    </script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">

    <!-- HTML Meta Tags -->
    <title>{{ page.title }} - Crypt | Secure Private Communication</title>
    <meta name="description" content="Secure messaging for privacy & security. Download Crypt for encrypted communication, and be part of the revolution.">
    <meta name="keywords" content="Crypt, Crypt App, Cryptexe, Crypt Website, CryptSite, Crypt Team, Crypt Download, Download Crypt, python, encryption, secure messaging, private messages, secret messages, cryptography">
    <meta name="author" content="The Crypt Team">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://anton-tumurov.github.io/Cryptexe">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }} - Crypt | Secure Private Communication">
    <meta property="og:description" content="Secure messaging for privacy & security. Download Crypt for encrypted communication, and be part of the revolution.">
    <meta property="og:image" content="https://anton-tumurov.github.io/Cryptexe/static/preview.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="anton-tumurov.github.io">
    <meta property="twitter:url" content="https://anton-tumurov.github.io/Cryptexe">
    <meta name="twitter:title" content="{{ page.title }} - Crypt | Secure Private Communication">
    <meta name="twitter:description" content="Secure messaging for privacy & security. Download Crypt for encrypted communication, and be part of the revolution.">
    <meta name="twitter:image" content="https://anton-tumurov.github.io/Cryptexe/static/preview.png">

    <!-- Google Verification -->
    <meta name="google-site-verification" content="kP59FL9kRT5nCCK1Fjp1-bcM4MXydlrwIGod5Ve5AuA" />
</head>
<body>
    <div class="container">
        <header>
            <a href="/Cryptexe/index.html" class="platform">
                <img src="static/expanded-logo.png" alt="Crypt Logo" class="logo" width="200">
            </a>
            <h1>{{ page.title }}</h1>
            <p class="tagline">{{ page.date | date: "%B %d, %Y" }}</p>
        </header>

        <main>
            <section>
                <div style="position: relative; overflow: hidden; width: 100%; border: none; padding-top: 15.10989010989011%;">
                    <iframe src="/Cryptexe/ads.html" style="position: absolute; border: none; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%;"></iframe>
                </div>
                <div class="update-content">
                    {{ content }}
                </div>
            </section>
        </main>

        <footer>
            <p>&copy; 2025 Crypt. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
